<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script type="text/javascript" src="./bundle.js" async defer></script>
    </head>
    <body>
        <section id="main" class="container">
            <section class="alert alert-success" v-if="message.success">
                {{ message.success }}
            </section>
            <table class="table">
                <thead>
                    <th>No.</th>
                    <th>名前</th>
                    <th>誕生日</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr v-for="user in users" track-by="id">
                        <td>{{ user.no }}</td>
                        <td><input type="text" v-model="user.name"></td>
                        <td><input type="text" v-model="user.birthday"</td>
                        <td>
                            <button type="button" class="btn btn-success"
                                    @click="update(user)">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    @click="delete(user)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <button type="button" class="btn btn-primary"
                                    @click="newUser()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </section>
    </body>
</html>
